WebContent/WEB-INF/Schema_Xml/users-schema.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="users">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="user" maxOccurs="unbounded" minOccurs="0">
          <xs:complexType>
            <xs:sequence>
              <xs:element type="xs:string" name="name"/>
              <xs:element type="xs:string" name="email"/>
              <xs:element type="xs:string" name="password"/>
              <xs:element name="delivery_info">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element type="xs:string" name="address"/>
                    <xs:element type="xs:int" name="phone"/>
                  </xs:sequence>
                  <xs:attribute type="xs:short" name="zip-code" use="required"/>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
            <xs:attribute type="xs:byte" name="id" use="required"/>
            <xs:attribute type="xs:string" name="role" use="required"/>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>